{{> head}}

<div class="row">
  <div class="col-3">
    <h2>Topics</h2>
    <ul>
      {{#navigation}}
        <li><a href="{{link}}">{{title}}</a></li>
      {{/navigation}}
    </ul>
  </div>
  <div class="col-9">
    {{{content}}}
  </div>
</div>

{{> tail}}
