{{> head}}

<h1>{{title}}</h1>

{{#issuesByAssignee}}
  <h2>
    {{#assignee.avatar_url}}
      <img src="{{&assignee.avatar_url}}" height="30" alt="{{assignee.name}}"/>
    {{/assignee.avatar_url}}
    {{assignee.name}}
  </h2>

  <p class=".lead">open: {{issueCounts.opened}}, closed: {{issueCounts.closed}}, quota closed: {{quota}}%</p>

  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col" width="50%">title</th>
      <th scope="col" width="10%">status</th>
      <th scope="col" width="20%">project</th>
      <th scope="col" width="10%">weeks</th>
    </tr>
    </thead>
  <tbody>
  {{#issues}}
    <tr>
      <td>
        <strong><a href="{{&web_url}}">
          {{#$closed}}
            <del>{{title}}</del>
          {{/$closed}}
          {{^$closed}}
            {{title}}
          {{/$closed}}
        </a></strong>
        <br/>
        <strong>Labels:</strong>
        {{#$labels}}
          {{#bold}}
            <strong>{{label}}</strong>
          {{/bold}}
          {{^bold}}
            {{label}}
          {{/bold}}
        {{/$labels}}
      </td>
      <td>
        {{#$branchExists}}
          <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/git-branch-512.png"
               height="30" alt="branch exists"/>
        {{/$branchExists}}
        {{#$mergeRequestUrl}}
          <a href="{{&$mergeRequestUrl}}">
            <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/git-merge-512.png"
                 height="30" alt="merge request exists"/>
          </a>
        {{/$mergeRequestUrl}}
      </td>
    <td><a href="https://gitlab.com/{{&$project}}">{{$project}}</a></td>
    <td>{{$weeksOpen}}</td>
    </tr>
    {{/issues}}
    </tbody>
    </table>
    {{/issuesByAssignee}}

    {{> tail}}
